
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col">
        @Html.ActionLink("Cadastrar turma", "Cadastrar", "Turma") </div>
</div>
<div class="row">
    <div class="col">
        @Html.ActionLink("Cadastrar aluno", "Cadastrar", "Aluno")
    </div>
</div>
<div class="row">
    <div class="col">
        @Html.ActionLink("Inscrever aluno", "Inscricao", "Turma")
    </div>
</div>

