@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Painel de Administração", "Index", "Dashboard", new { Area = "Painel" }, new { })
        </div>
    </div>
</div>
