
@{
    ViewBag.Title = "Painel de administração";
}

<h2>Painel de administração</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    @Html.ActionLink("Cadastrar turma", "Cadastrar", "Turma")
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.ActionLink("Cadastrar aluno", "Cadastrar", "Aluno")
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.ActionLink("Cadastrar professor", "Cadastrar", "Professor")
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.ActionLink("Inscrever aluno", "Inscricao", "Turma")
                </div>
            </div>
        </div>
    </div>
</div>


